.app {
  display: flex;
  flex-wrap: wrap;
  background-color: darkseagreen;
  text-align: center;
  min-height: 100%;
}

@font-face {
  font-family: "rowdies";
}

h2 {
  width: 100%;
  font-family: 'Rowdies', cursive;
  font-size: 7rem;
  color: darkgreen;
}

.timer {
  margin: .75rem 0 2.5rem;
  width: 100%;
}

span {
  font-family: "Open Sans", sans-serif;
  font-size: 25rem;
  line-height: 18.75rem;
}

.buttons {
  display: flex;
  width: 33%;
  margin: 3.5rem auto 1.5rem;
  justify-content: space-between;
}

.buttons button {
  border: none;
  cursor: pointer;
  padding: 1rem 4rem 1rem;
  background-color: darkgreen;
  color: darkseagreen;
  font-family: "Helvetica Neue", "Optima", "Arial", sans-serif;
  font-size: 2rem;
}
